<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmidaAmida.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AmidaAmida.Properties.Settings>
            <setting name="AxisCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AnimationSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AppWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AppHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AppLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AppTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DefaultCharactorFile" serializeAs="String">
                <value>DefaltAnime.png</value>
            </setting>
            <setting name="AppWindowMode" serializeAs="String">
                <value>0</value>
            </setting>
        </AmidaAmida.Properties.Settings>
    </userSettings>
</configuration>